.water-cup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 130px;
    height: 150px;
    border: 4px solid #262626;
    border-top: 2px solid transparent;
    border-radius: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: url("https://image.ibb.co/fmHm66/wave.png");
    background-repeat: repeat-x;
    animation: animate 10s linear infinite;
    box-shadow: 0 0 0 4px #fff , 0 20px 35px rgba(0,0,0,1);
    display: none;
}


.water-cup:before {

    content: '';
    position: absolute;
    width: 50px;
    height: 80px;
    border: 6px solid #fff;
    right: -68px;
    top: 30px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;

}

@keyframes animate {

    0% {

        background-position: 0 100px;

    }

    10% {

        background-position: 0 100px;

    }


    40% {

        background-position: 1000px 0;


    }


    80% {

        background-position: 2000px -70px;


    }

    100% {

        background-position: 2500px 100px;

    }
}