<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/home_layout}"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password | Coder'sLab</title>
    <link rel="stylesheet" th:href="@{/client_assets/css/account-settings.css}">
    <style>
        .has-error, .help-block {
            color: #a94442;
            font-weight: 600;
        }
        .has-error{
            border: 1px solid #a94442 !important;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <form id="changeForm" th:action="@{/user/changePassword}" method="post" style="margin-top: 130px; margin-bottom: 50px" class="container light-style flex-grow-1 container-p-y">
        <span class="d-none" id="messageSuccess" th:text="${message}"></span>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-9" style="width: 100%">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                            <div class="card-body media align-items-center">
                                <h3 style="margin-bottom: 0px !important;" class="font-weight-bold py-3 mb-4">
                                    Password
                                </h3>
                                <div style="margin-top: 10px" class="media-body ml-4">
                                    <div class="small mt-1">Enter your current Coder'sLab password along with a new one to change it.</div>
                                </div>
                            </div>
                            <hr class="border-light m-0">
                            <div class="card-body">
                                <div class="row" style="margin-bottom: 15px">
                                    <div style="width: 50%" class="form-group">
                                        <label style="color: #000" class="form-label">Current Password</label>
                                        <input name="currentPassword" type="password" class="form-control mb-1 form-validate" placeholder="Enter current password">
                                        <div style="margin-top: 5px" th:if="${messageErr}" class="alert alert-danger">
                                            Incorrect password !
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label style="color: #000" class="form-label">New Password</label>
                                        <input id="password" name="password" type="password" class="form-control form-validate" placeholder="Enter new password">
                                    </div>
                                    <div class="form-group col">
                                        <label style="color: #000" class="form-label">Confirm New Password</label>
                                        <input oninput="checkPasswordMatch(this);" type="password" name="confirmPassword" class="form-control form-validate" placeholder="Re-enter new password">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="text-align: right; margin-bottom: 30px; padding-right: 16px" class="text-right mt-3">
                            <button type="submit" class="btn btn-primary">Save changes</button>&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            var message = $('#messageSuccess').text();
            toastr.options = {
                "closeButton": true,
            }
            if (message !== '') {
                toastr.success(message);
            }
        });
        function checkPasswordMatch(fieldConfirmPassword) {
            if (fieldConfirmPassword.value !== $("#password").val()) {
                fieldConfirmPassword.setCustomValidity("Passwords do not match!");
            } else {
                fieldConfirmPassword.setCustomValidity("");
            }
        }
        document.getElementById('changeForm').addEventListener('submit', function (e) {
            e.preventDefault();
            var form = $('#changeForm');
            debugger
            form.validate({
                errorElement: 'span',
                errorClass: 'help-block',
                highlight: function (element, errorClass, validClass) {
                    $(element).closest('.form-validate').addClass("has-error");
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).closest('.form-validate').removeClass("has-error");
                },
                rules: {
                    currentPassword: {
                        required : true,
                    },
                    password: {
                        minlength: 8,
                        required: true,
                    },
                    confirmPassword:{
                        minlength: 8,
                        required: true,
                        equalTo: "#password",
                    },
                },
                messages: {
                    currentPassword: {
                        required: "Password required",
                    },
                    password: {
                        required: "Password required",
                        minlength: "Password must be at least 8 characters !",
                    },
                    confirmPassword: {
                        required: "Password required",
                        minlength: "Password must be at least 8 characters !",
                        equalTo: "Confirm new password do not match!",
                    },
                }
            });
            if (form.valid() === true) {
                debugger
                this.submit();
            }
        });
    </script>
</div>
</body>
</html>