<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">

    <!--favicon icon-->
    <link rel="icon" type="image/png" th:href="@{/admin_assets/img/favicon.html}">

    <title>Home</title>
    <!--web fonts-->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <!--bootstrap styles-->
    <link th:href="@{/admin_assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!--icon font-->
    <link th:href="@{/admin_assets/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/admin_assets/vendor/dashlab-icon/dashlab-icon.css}" rel="stylesheet">
    <link th:href="@{/admin_assets/vendor/simple-line-icons/css/simple-line-icons.css}" rel="stylesheet">
    <link th:href="@{/admin_assets/vendor/themify-icons/css/themify-icons.css}" rel="stylesheet">
    <link th:href="@{/admin_assets/vendor/weather-icons/css/weather-icons.min.css}" rel="stylesheet">
    <!--jquery ui-->
    <link th:href="@{/admin_assets/vendor/jquery-ui/jquery-ui.min.css}" rel="stylesheet">
    <!--iCheck-->
    <link th:href="@{/admin_assets/vendor/icheck/skins/all.css}" rel="stylesheet">
    <!--toastr-->
    <link th:href="@{/admin_assets/vendor/toastr-master/toastr.css}" rel="stylesheet">
    <!--custom styles-->
    <link th:href="@{/admin_assets/css/main.css}" rel="stylesheet">

    <!--multiple select-->
    <link th:href="@{/admin_assets/vendor/multi-select/css/multi-select.css}" rel="stylesheet">
</head>

<body class="left-sidebar-fixed">
<!--header start-->
<header class="app-header">
    <div class="branding-wrap">
        <!--left nav toggler start-->
        <a class="nav-link mt-2 float-left js_left-nav-toggler pos-fixed" href="javaScript:;">
            <i class=" ti-align-right"></i>
        </a>
        <!--left nav toggler end-->

        <!--brand start-->
        <div class="navbar-brand pos-fixed">
            <a class="" href="/">
                <img th:src="@{/admin_assets/img/logo.png}" th:attr="srcset=@{/admin_assets/img/logo.jpg 2x}" alt="CodeLab">
            </a>
        </div>
        <!--brand end-->
    </div>

    <!--header rightside links-->
    <ul class="header-links hide-arrow navbar">
        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" id="userNav" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="user-thumb">
                    <img class="rounded-circle" th:src="@{/admin_assets/img/avatar/avatar2.jpg}" alt=""/>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userNav">
                <div class="dropdown-item- px-3 py-2">
                    <img class="rounded-circle mr-2" th:src="@{/admin_assets/img/avatar/avatar2.jpg}" width="35" alt=""/>
                    <span class="text-muted">Administrator</span>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/">Trang Chủ</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Đăng Xuất</a>
            </div>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link right_side_toggle">
                <i class="icon-options-vertical"> </i>
            </a>
        </li>
    </ul>
    <!--/header rightside links-->
</header>
<!--search modal start-->
<div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="text" class="form-control" placeholder="Search...">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--search modal start-->
<!--header end-->

<div class="app-body">
    <!--left sidebar start-->
    <div class="left-nav-wrap">
        <div class="left-sidebar">
            <nav class="sidebar-menu">
                <ul id="nav-accordion">
                    <li class="sub-menu">
                        <a th:href="@{/admin}" class="active">
                            <i class=" ti-home"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-title">
                        <h5 class="text-uppercase">Quản Lý Dữ Liệu</h5>
                    </li>

                    <li class="sub-menu">
                        <a href="/admin/user-management" >
                            <i class="fa fa-user"></i>
                            <span>Quản Lý Người Dùng</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="/admin/assignment" >
                            <i class=" icon-speech"></i>
                            <span>Câu Hỏi Luyện Tập</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="/admin/quiz" >
                            <i class="fa fa-question"></i>
                            <span>Câu hỏi trắc nghiệm</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="/admin/assignment-kit" >
                            <i class="fa fa-certificate"></i>
                            <span>Chứng Chỉ</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="/admin/apply" >
                            <i class="icon-folder"></i>
                            <span>Tuyển Dụng</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="/admin/assignments-bank" >
                            <i class="icon-docs"></i>
                            <span>Ngân Hàng Đề Thi</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="/admin/contest" >
                            <i class="fa fa-user-circle-o"></i>
                            <span>Tổ Chức Thi</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!--left sidebar end-->

    <!--main content wrapper-->
    <div class="content-wrapper">
        <div layout:fragment="content" class="container-fluid">
<!--            <div layout:fragment="content">-->

<!--            </div>-->
        </div>
        <!--footer-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright &copy; VectorLab 2018</small>
                </div>
            </div>
        </footer>
        <!--/footer-->
    </div>
    <!--main content wrapper end-->

    <!--right sidebar-->
    <div class="right-sidebar" id="right_side_bar">
        <div class="card border-0">
            <div class="card-body pb-0">
                <!--close toggle-->
                <a href="javascript:;" class="right_side_toggle float-right close-sidebar-icon">
                    <i class=" ti-shift-right"> </i>
                </a>
                <!--/close toggle-->
            </div>
            <div class="card-body pt-2">

                <div class="right-widget">
                    <div class="custom-title-wrap bar-primary mb-4">
                        <div class="custom-title">Today's Activity</div>
                    </div>

                    <ul class="list-unstyled base-timeline">
                        <li class="time-dot-primary">
                            <div class="base-timeline-info">
                                <a href="#">John123</a> Successfully purchased item#26
                            </div>
                            <small class="text-muted">
                                28 mins ago
                            </small>
                        </li>
                        <li class="time-dot-danger">
                            <div class="base-timeline-info">
                                <a href="#" class="text-danger">Farnandez</a> placed the order for accessories
                            </div>
                            <small class="text-muted">
                                2 days ago
                            </small>
                        </li>
                        <li class="time-dot-purple">
                            <div class="base-timeline-info">
                                User <a href="#" class="text-purple">Lisa Maria</a> checked out from the market
                            </div>
                            <small class="text-muted">
                                12 mins ago
                            </small>
                        </li>
                    </ul>
                </div>

                <div class="right-widget">
                    <div class="custom-title-wrap bar-danger mb-4">
                        <div class="custom-title">Active Users</div>
                    </div>

                    <ul class="list-unstyled mb-0 list-widget">
                        <li class="cursor">
                            <div class="media mb-4">
                                <div class="st-alphabet mr-3">
                                    <img class="rounded-circle" th:src="@{/admin_assets/img/avatar/avatar1.jpg}" alt=" ">
                                    <span class="status bg-success"></span>
                                </div>
                                <div class="media-body ">
                                    <div class="float-left">
                                        <h6 class="text-uppercase mb-0">shirley hoe</h6>
                                        <span class="text-muted">Online</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="cursor">
                            <div class="media mb-4">
                                <div class="st-alphabet mr-3">
                                    <img class="rounded-circle" th:src="@{/admin_assets/img/avatar/avatar2.jpg}" alt=" ">
                                    <span class="status bg-warning"></span>
                                </div>
                                <div class="media-body ">
                                    <div class="float-left">
                                        <h6 class="text-uppercase mb-0">james alexender</h6>
                                        <span class="text-muted">Screaming...</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="cursor">
                            <div class="media mb-4">
                                <div class="st-alphabet mr-3">
                                    <img class="rounded-circle" th:src="@{/admin_assets/img/avatar/avatar3.jpg}" alt=" ">
                                    <span class="status bg-info"></span>
                                </div>
                                <div class="media-body">
                                    <div class="float-left">
                                        <h6 class="text-uppercase mb-0">ursula sitorus</h6>
                                        <span class="text-muted">Start Exploring</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="cursor">
                            <div class="media mb-3">
                                <div class="st-alphabet mr-3">
                                    <img class="rounded-circle" th:src="@{/admin_assets/img/avatar/avatar4.jpg}" alt=" ">
                                    <span class="status bg-danger"></span>
                                </div>
                                <div class="media-body">
                                    <div class="float-left">
                                        <h6 class="text-uppercase mb-0">jonna pinedda</h6>
                                        <span class="text-muted">Busy</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="right-widget">

                    <div class="custom-title-wrap bar-success mb-4">
                        <div class="custom-title">Notification</div>
                    </div>

                    <div >
                        <a class="nav-link border-bottom px-0 py-3" href="#">
                                <span class="text-primary">
                                <span class="weight700 f12">
                                    <i class="vl_bell weight600 pr-2"></i>Weekly Update</span>
                                </span>
                            <span class="small float-right text-muted">03:14 AM</span>

                            <div class="text-dark f12">
                                This week project update report generated. All team members are requested to check the updates
                            </div>
                        </a>

                        <a class="nav-link border-bottom px-0 py-3" href="#">
                                <span class="text-danger">
                                <span class="weight700 f12">
                                    <i class="vl_Download-circle weight600 pr-2"></i>Server Error</span>
                                </span>
                            <span class="small float-right text-muted">10:34 AM</span>

                            <div class="text-dark f12">
                                Unexpectedly server response stop. Responsible members are requested to fix it soon
                            </div>
                        </a>

                        <a class="nav-link border-bottom px-0 py-3" href="#">
                                <span class="text-success">
                                <span class="weight700 f12">
                                    <i class="vl_screen weight600 pr-2"></i>Monthly Meeting</span>
                                </span>
                            <span class="small float-right text-muted">12:30 AM</span>

                            <div class="text-dark f12">
                                Our monthly meeting will be held on tomorrow sharp 12:30. All members are requested to attend this meeting.
                            </div>
                        </a>

                        <div class="text-center mt-3">
                            <a class="nav-link px-0" href="#">View all notification</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--right sidebar end-->
</div>

<!--basic scripts-->
<script th:src="@{/admin_assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/admin_assets/vendor/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/admin_assets/vendor/popper.min.js}"></script>
<script th:src="@{/admin_assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/admin_assets/vendor/jquery.dcjqaccordion.2.7.js}"></script>
<script th:src="@{/admin_assets/vendor/jquery.nicescroll.min.js}"></script>

<!--summernote-->
<script th:src="@{/admin_assets/vendor/summernote/summernote-bs4.min.js}"></script>
<!--init-->
<script th:src="@{/admin_assets/vendor/js-init/init-summernote.js}"></script>
<!--toastr-->
<script th:src="@{/admin_assets/vendor/toastr-master/toastr.js}"></script>
<!--init toastr-->
<script th:src="@{/admin_assets/vendor/js-init/init-toastr.js}"></script>
<!--validation-->
<script type="text/javascript" th:src="@{/admin_assets/js/validate.js}"></script>
<script type="text/javascript" th:src="@{/admin_assets/js/additional-methods.js}"></script>

<!--multiple select-->
<script th:src="@{/admin_assets/vendor/multi-select/js/jquery.multi-select.js}"></script>
<script th:src="@{/admin_assets/vendor/multi-select/js/jquery.quicksearch.js}"></script>
<!--init multiple select-->
<script th:src="@{/admin_assets/vendor/js-init/init-multiple-select.js}"></script>

<!--basic scripts initialization-->
<script th:src="@{/admin_assets/js/scripts.js}"></script>


</body>
</html>

