<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coding Question | Coder'sLab</title>
    <link rel="stylesheet" href="/admin_assets/css/multi-step-form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!--markdown-->
    <link href="/admin_assets/vendor/markdown/simplemde.min.css" rel="stylesheet">
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">-->
    <!--summernote-->
    <link th:href="@{/admin_assets/vendor/summernote/summernote-bs4.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/admin_assets/css/multiSelect.css}">
    <style>
        .modal-backdrop {
            position: unset !important;
        }

        .modal {
            background: rgba(0, 0, 0, 0.4);
        }

        .has-error, .help-block {
            color: #a94442;
            font-weight: 600;
        }

        .has-error {
            border: 1px solid #a94442 !important;
        }
        .mbsc-textfield.mbsc-textfield-tags.mbsc-textarea {
            height: 42px !important;
            border-color: #e5e8eb;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <p style="font-size: 23px; font-weight: bold" class="mb-sm-0 font-size-18">Thêm bài tập mới</p>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a th:href="@{/templates/admin/assignment}">Coding question</a></li>
                        <li class="breadcrumb-item active">Creating coding question</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div style="background-color: #fff" class="card2">
                <div class="row">
                    <div class="col-md-12 mx-0">
                        <form id="msform" th:action="@{/admin/assignment/add}" method="post">
                            <div style="display: none" id="hidden_value">

                            </div>
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="account"><strong>Problem details</strong></li>
                                <li id="personal"><strong>Test cases</strong></li>
                            </ul>
                            <!--problem details -->
                            <fieldset>
                                <div class="form-card">
                                    <div style="margin-bottom: unset; float: right" class="form-group">
                                        <input name="isCertificateQuestion"
                                               style="width: unset; margin-bottom: unset; cursor: pointer"
                                               type="checkbox" value="true" class="iCheck-flat-green">
                                        <label class="control-label">Đánh dấu là câu hỏi cho giấy chứng nhận</label>
                                    </div>
                                    <p style="font-weight: 600; color:#2f3c4b;; margin-bottom: 2px">Tên bài tập: <span
                                            class="text-danger">*</span></p>
                                    <div style="margin-bottom: 25px">
                                        <input required class="form-validate" name="title" id="title"
                                               style="font-family: 'Montserrat'; margin-bottom: unset" type="text"
                                               placeholder="Tên bài tâp"/>
                                    </div>
                                    <div style="margin-bottom: 25px" class="row">
                                        <div class="col">
                                            <p style="font-weight: 600; color:#2f3c4b;; margin-bottom: 2px">Thời gian
                                                giới hạn/s: <span class="text-warning">(Optional)</span></p>
                                            <input style="margin-bottom: unset" name="timeLimit" class="form-validate"
                                                   placeholder="Thời gian giới hạn">
                                        </div>
                                        <div class="col">
                                            <p style="font-weight: 600; color:#2f3c4b; margin-bottom: 2px">Bộ nhớ
                                                giới hạn/KB: <span class="text-warning">(Optional)</span></p>
                                            <input style="margin-bottom: unset" name="memoryLimit" min="2048"
                                                   class="form-validate" placeholder="Giới hạn bộ nhớ">
                                        </div>
                                    </div>
                                    <div style="margin-bottom: 25px" class="row">
                                        <div class="col">
                                            <p style="font-weight: 600; color:#2f3c4b; margin-bottom: 2px">Độ khó:</p>
                                            <select style="height: 45px; cursor: pointer; font-size: 15px" class="form-control select2" name="level">
                                                <option th:each="level: ${levels}" th:value="${level.id}"
                                                        th:text="${level.name}"></option>
                                            </select>
                                        </div>
                                        <div class="col">

                                            <label style="margin:0;">
                                                Tag:<span class="text-warning">(Optional)</span><input mbsc-input id="my-input" data-dropdown="true" data-tags="true" />
                                            </label>
                                            <select style="height: 45px; cursor: pointer; font-size: 15px" class="form-control select2" name="taqs[]" id="multiple-select" multiple>
                                                <option th:each="tag: ${tags}" th:value="${tag.id}" th:text="${tag.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div style="margin-bottom: 25px" class="row">
                                        <div class="col">
                                            <p style="font-weight: 600; color:#2f3c4b; margin-bottom: 2px">Ngôn Ngữ
                                                <span class="text-warning">(Optional)</span></p>
                                            <select style="height: 45px; cursor: pointer; font-size: 15px" id="selectBox" onchange="displayEditor()"
                                                    class="form-control select2" name="language-selected">
                                                <option value="">Select option by user</option>
                                                <option th:each="language: ${languages}" th:value="${language.id}"
                                                        th:text="${language.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="card card-shadow mb-4">
                                                <div class="card-header border-0">
                                                    <div class="custom-title-wrap bar-primary">
                                                        <div class="custom-title">Mô tả bài toán: <span
                                                                class="text-danger">*</span></div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div id="summernote">Sample Problem Description</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="mark-down-editor" style="margin-top: 25px; display: none" class="row">
                                        <div class="col">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="card card-shadow mb-4">
                                                            <div class="card-header border-0">
                                                                <div class="custom-title-wrap bar-info">
                                                                    <div class="custom-title">Editor Markdown</div>
                                                                </div>
                                                            </div>
                                                            <div class="card-body">
                                                                <textarea placeholder="Paste Your Solution For This Assignment Here" id="demo1"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        function displayEditor() {
                                            var selectBox = document.getElementById("selectBox");
                                            var markdownEditor = document.getElementById("mark-down-editor");

                                            // Nếu option đầu tiên được chọn
                                            if (selectBox.value === "") {
                                                markdownEditor.style.display = "none";
                                            } else {
                                                markdownEditor.style.display = "block";
                                            }
                                        }
                                    </script>
                                </div>
                                <input style="border-radius: 5px" id="step-one" type="button" name="next"
                                       class="next action-button" value="Tiếp theo"/>
                            </fieldset>
                            <!--                            tescases-->
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Testcases</h2>
                                    <p style="color: #2C3E50">Một test case bao gồm các giá trị đầu vào của chương trình và đầu ra
                                        Đầu vào sẽ được đưa vào STDIN của chương trình và đầu ra sẽ ở trong STDOUT.</p>

                                    <div id="field">
                                        <div id="field0">
                                            <div class="form-group row">
                                                <div class="col">
                                                    <label>Tên testcase:<span class="text-danger">*</span></label>
                                                    <input style="margin-bottom: unset" id="name" name="TSName[]"
                                                           class="form-validate" placeholder="Tên testcase...">
                                                </div>
                                                <div class="col">
                                                    <label>Điểm:<span class="text-danger">*</span></label>
                                                    <input style="margin-bottom: unset" id="score" name="TSScore[]"
                                                           class="form-validate" placeholder="Điểm...">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col">
                                                    <label>Input:<span class="text-danger">*</span></label>
                                                    <textarea id="Input" style="margin-bottom: unset; height: 140px"
                                                              name="TSInput[]" class="form-validate"
                                                              placeholder="Input..."></textarea>
                                                </div>
                                                <div class="col">
                                                    <label>Output:<span class="text-danger">*</span></label>
                                                    <textarea id="output" style="margin-bottom: unset; height: 140px"
                                                              name="TSOutput[]" class="form-validate"
                                                              placeholder="Output..."></textarea>
                                                </div>
                                            </div>
                                            <div style="margin-bottom: unset" class="form-group">
                                                <input name="check[]"
                                                       style="width: unset; margin-bottom: unset; cursor: pointer"
                                                       type="checkbox" checked value="true" class="iCheck-flat-green">
                                                <label class="control-label">Đánh dấu là testcase mẫu</label>
                                            </div>
                                        </div><!--end field0-->
                                    </div><!--end field-->
                                    <!--                                    Add more-->
                                    <div class="form-group">
                                        <div style="padding: unset" class="col-md-4 col-md-offset-8">
                                            <button style="border-radius: 5px" id="add-more" name="add-more"
                                                    class="action-button">Thêm
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <input style="border-radius: 5px" type="button" name="previous"
                                       class="previous action-button-previous"
                                       value="Trở lại"/>
                                <input style="border-radius: 5px" type="submit" name="next" class="next action-button"
                                       value="Lưu"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>-->
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script th:src="@{/admin_assets/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/admin_assets/js/multl-step-form.js}"></script>
    <script th:src="@{/admin_assets/js/multiSelect.js}"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            document.getElementById('msform').addEventListener('submit', function (e) {
                e.preventDefault();
                var form = $('#msform');
                if (form.valid() === true) {
                    var description = $('#summernote').summernote('code');
                    $('<input />').attr('type', 'hidden')
                        .attr('name', 'description')
                        .attr('value', description)
                        .appendTo('#msform');
                    var selectDropdown = document.getElementById('multiple-select');
                    if (selectDropdown.selectedOptions.length === 0) {
                        var defaultValue = '0';
                        var defaultOption = document.createElement('option');
                        defaultOption.value = defaultValue;
                        defaultOption.selected = true;
                        selectDropdown.appendChild(defaultOption);
                    }
                    this.submit();

                }
            });
            mobiscroll.select('#multiple-select', {
                inputElement: document.getElementById('my-input'),
                touchUi: false
            });
        });
    </script>
    <!--markdown-->
    <script th:src="@{/admin_assets/vendor/markdown/simplemde.min.js}"></script>
    <!--init markdown-->
    <script th:src="@{/admin_assets/vendor/js-init/init-markdown.js}"></script>
</div>
</body>
</html>