<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/home_layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cuộc Thi | Coder'sLab</title>
    <link th:href="@{/admin_assets/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <!-- services area start -->
    <section class="services__area pt-115 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card card-shadow mb-4">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-primary">
                                <div class="custom-title">Cuộc Thi Do Bạn Quản Lý</div>
                            </div>
                        </div>
                        <div class="card-body- pt-3 pb-4">
                            <div class="table-responsive">
                                <table id="data_table" class="table table-bordered table-striped" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Cuộc Thi</th>
                                        <th>Thời Gian</th>
                                        <th>Giáo viên Phụ Trách</th>
                                        <th>Tạo Bỡi</th>
                                        <th>Chỉnh sửa lần cuối</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="contest: ${contests}">
                                        <td><a style="font-weight: bold" class="text-body fw-bold">#<span th:text="${contest.id}"></span></a> </td>
                                        <td th:text="${contest.contestName}"></td>
                                        <td><strong>Từ</strong> [[${#dates.format(contest.startTime, 'HH:mm dd-MM-yyyy')}]] <strong>Đến</strong> [[${#dates.format(contest.endTime, 'HH:mm dd-MM-yyyy')}]]</td>
                                        <td>
                                            <p th:each="teacher :${contest.teachers}" th:text="${teacher.fullName}"></p>
                                        </td>
                                        <td th:text="${contest.createdBy.fullName}"></td>
                                        <td>
                                            <p>[[${contest.latestUserUpdate}]]</p>
                                            <p>Vào lúc [[${#dates.format(contest.latestUpdate, 'HH:mm dd-MM-yyyy')}]]</p>

                                        </td>
                                        <td>
                                            <a th:href="@{/teacher/contest/add-assignment/{id}(id=${contest.id})}" title="Edit" class="text-success"><i style="font-size: 18px" class='bx bxs-edit-alt'></i></a>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services area end -->
</div>
</body>
</html>