<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/home_layout}"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Certificate | Coder'sLab</title>
</head>
<body>
<div layout:fragment="content">
    <!-- page title area start -->
    <section class="page__title-area pt-120 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-xxl-8 col-xl-8 col-lg-8">
                    <div class="course__wrapper">
                        <div class="page__title-content mb-25">
                            <div th:if="${contestEnded}" class="progress mb-4">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                                     aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Đã Kết Thúc</div>
                            </div>
                            <div th:unless="${contestEnded}" class="progress mb-4">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                            </div>
                            <div class="d-flex">
                                <p><strong>Thời gian bắt đầu</strong>: [[${#dates.format(contest.startTime, 'HH:mm dd-MM-yyyy')}]]</p>
                                <p style="margin-left: 250px;"><strong>Thời gian kết thúc</strong>: [[${#dates.format(contest.endTime,
                                    'HH:mm dd-MM-yyyy')}]]</p>
                            </div>
                            <h5 class="page__title-3" th:text="${contest.contestName}"></h5>
                        </div>
                        <div class="course__tab-content mb-95">
                            <div class="tab-content" id="courseTabContent">
                                <div class="tab-pane fade show active" id="description" role="tabpanel"
                                     aria-labelledby="description-tab">
                                    <div class="course__description-list mb-20">
                                        <div class="form-group row mt-10">
                                            <div>
                                                <div class="card card-shadow mb-4">
                                                    <div class="card-header border-0">
                                                        <div class="custom-title-wrap bar-warning">
                                                            <div class="custom-title">Bài tập cho lần thi này</div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <table class="table table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th scope="col">Tên bài</th>
                                                              <!--  <th scope="col">Giới hạn bộ nhớ</th>
                                                                <th scope="col">Giới hạn thời gian</th>-->
                                                                <th scope="col">Điểm</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody style="color: black">
                                                            <tr th:each="assignment:${assignments}">
                                                                <td th:text="${assignment.title}"></td>
                                                           <!--     <td th:if="${assignment.memoryLimit==0}">Không giới hạn</td>
                                                                <td th:unless="${assignment.memoryLimit==0}">[[${assignment.memoryLimit}]]</td>
                                                                <td th:if="${assignment.timeLimit==0}">Không giới hạn</td>
                                                                <td th:unless="${assignment.timeLimit==0}">[[${assignment.timeLimit}]]</td>-->
                                                                <td th:text="${assignment.max_score}"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="course__description-list">
                                        <h4>Vui lòng đọc hướng dẫn bên dưới</h4>
                                        <ol>
                                            <li>1. Đây là một bài kiểm tra có giới hạn thời gian. Vui lòng đảm bảo bạn
                                                không bị gián đoạn trong quá trình làm bài, vì bộ đếm giờ không thể tạm
                                                dừng khi đã bắt đầu hoặc bạn sẽ thất bại nếu hết thời gian
                                            </li>
                                            <li>2. Vui lòng đảm bảo bạn có kết nối internet ổn định.</li>
                                            <li>3. Mỗi bài có số điểm tối đa nhất định.
                                            </li>
                                            <li>4. Điểm của một thí sinh phụ thuộc vào số testcase mà thí sinh giải
                                                đúng.
                                            </li>
                                            <li>5. Xếp hạng thí sinh theo điểm đạt được. Nếu 2 thí sinh cùng số điểm thì
                                                thí sinh có giải thuật hơn, lời giải sớm hơn, sẽ đạt hạng cao hơn.
                                            </li>
                                            <li>6. Bạn chỉ có thể tham gia và giải bi 1 lần duy nhất
                                            </li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4">
                    <div class="course__sidebar pl-70 p-relative">
                        <div class="course__shape">
                            <img class="course-dot" src="assets/img/course/course-dot.png" alt="">
                        </div>
                        <div class="course__sidebar-widget-2 white-bg mb-20">
                            <div class="course__video" th:if="${already_tested}">
                                <p style="color: black"><span class="text-danger">*</span>Cảm ơn bạn đã dành thời gian
                                    cho bài thi này. Dưới đây là <strong class="text-success">kết quả</strong> bài thi
                                    của bạn
                                </p>
                                <div class="course__video-content mb-35">
                                    <ul>
                                        <li class="d-flex align-items-center">
                                            <div class="course__video-icon">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                                                     xml:space="preserve">

                                             <path class="st0" d="M4,19.5C4,18.1,5.1,17,6.5,17H20"/>
                                                    <path class="st0"
                                                          d="M6.5,2H20v20H6.5C5.1,22,4,20.9,4,19.5v-15C4,3.1,5.1,2,6.5,2z"/>
                                          </svg>
                                            </div>
                                            <div class="course__video-info">
                                                <h5><span>Số câu đúng :</span>[[${correctAnswer}]]/[[${contest.numberOfAssignment}]]
                                                </h5>
                                            </div>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <div class="course__video-icon">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve">
                                             <circle class="st0" cx="8" cy="8" r="6.7"></circle>
                                                    <polyline class="st0" points="8,4 8,8 10.7,9.3 "></polyline>
                                          </svg>
                                            </div>
                                            <div class="course__video-info">
                                                <h5><span>Thời gian hoàn thành :</span>[[${totalTime}]]s</h5>
                                            </div>
                                        </li>
                                        <li th:if="${contest.isRandomAssignment==false}" class="d-flex align-items-center">
                                            <div class="course__video-icon">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                                                     xml:space="preserve">

                                             <path class="st0" d="M4,19.5C4,18.1,5.1,17,6.5,17H20"/>
                                                    <path class="st0"
                                                          d="M6.5,2H20v20H6.5C5.1,22,4,20.9,4,19.5v-15C4,3.1,5.1,2,6.5,2z"/>
                                          </svg>
                                            </div>
                                            <div class="course__video-info">
                                                <h5><span>Điểm đạt:</span>[[${myTestScore}]]/[[${contest.maxScore()}]]</h5>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="course__enroll-btn">
                                    <a style="background-color: #e07900"
                                       th:href="@{'/contest/rank/' + ${contest.id}}"
                                       class="e-btn e-btn-7 w-100">Xem bảng xếp hạng <i class="far fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="course__video" th:unless="${already_tested}">
                                <div class="course__video-content mb-35">
                                    <ul>
                                        <li class="d-flex align-items-center">
                                            <div class="course__video-icon">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                                                     xml:space="preserve">

                                             <path class="st0" d="M4,19.5C4,18.1,5.1,17,6.5,17H20"/>
                                                    <path class="st0"
                                                          d="M6.5,2H20v20H6.5C5.1,22,4,20.9,4,19.5v-15C4,3.1,5.1,2,6.5,2z"/>
                                          </svg>
                                            </div>
                                            <div class="course__video-info">
                                                <h5><span>Số câu hỏi :</span>[[${contest.numberOfAssignment}]]
                                                </h5>
                                            </div>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <div class="course__video-icon">
                                                <svg>
                                                    <path class="st0"
                                                          d="M13.3,14v-1.3c0-1.5-1.2-2.7-2.7-2.7H5.3c-1.5,0-2.7,1.2-2.7,2.7V14"/>
                                                    <circle class="st0" cx="8" cy="4.7" r="2.7"/>
                                                </svg>
                                            </div>
                                            <div class="course__video-info">
                                                <h5><span>Đã tham gia : [[${contest.contestSubmissions.size()}]]</span>
                                                </h5>
                                            </div>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <div class="course__video-icon">
                                                <svg>
                                                    <circle class="st0" cx="8" cy="8" r="6.7"/>
                                                    <line class="st0" x1="1.3" y1="8" x2="14.7" y2="8"/>
                                                    <path class="st0"
                                                          d="M8,1.3c1.7,1.8,2.6,4.2,2.7,6.7c-0.1,2.5-1,4.8-2.7,6.7C6.3,12.8,5.4,10.5,5.3,8C5.4,5.5,6.3,3.2,8,1.3z"/>
                                                </svg>
                                            </div>
                                            <div class="course__video-info">
                                                <h5><span>Ngôn ngữ :</span> Tuỳ chọn</h5>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div th:if="${contestEnded}" class="course__enroll-btn">
                                    <a style="background-color: #e07900"
                                       th:href="@{'/contest/rank/' + ${contest.id}}"
                                       class="e-btn e-btn-7 w-100">Xem bảng xếp hạng <i class="far fa-arrow-right"></i></a>
                                </div>
                                <div th:unless="${contestEnded}" class="course__enroll-btn">
                                    <a th:href="@{'/contest/join/' + ${contest.id}}"
                                       class="e-btn e-btn-7 w-100">Bắt đầu thi <i class="far fa-arrow-right"></i></a>

                                        <a style="background-color: #e07900"
                                           th:href="@{'/contest/rank/' + ${contest.id}}"
                                           class="e-btn e-btn-7 w-100 mt-20">Xem bảng xếp hạng <i class="far fa-arrow-right"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page title area end -->

</div>
</body>
</html>