<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/chatbox_layout}"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coder'sLab</title>
    <link rel="stylesheet" th:href="@{/client_assets/css/loading.css}">
    <link rel="stylesheet" th:href="@{/client_assets/codemirror-5.65.15/lib/codemirror.css}">
    <link rel="stylesheet" th:href="@{/client_assets/codemirror-5.65.15/theme/3024-day.css}">
    <link rel="stylesheet" th:href="@{/client_assets/codemirror-5.65.15/theme/bespin.css}">
    <link rel="stylesheet" th:href="@{/client_assets/codemirror-5.65.15/theme/dracula.css}">
    <link rel="stylesheet" th:href="@{/client_assets/codemirror-5.65.15/theme/night.css}">
    <link rel="stylesheet" th:href="@{/client_assets/codemirror-5.65.15/theme/idea.css}">
    <link rel="stylesheet" th:href="@{/client_assets/codemirror-5.65.15/theme/oceanic-next.css}">
    <!--<link rel="stylesheet" th:href="@{/admin_assets/vendor/markdown/simplemde.min.css}">-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <style>
        @keyframes slide {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
            100% {
                transform: translateY(0);
            }
        }

        #loadingText {
            animation: slide 1.5s infinite;
        }

        .col {
            display: flex;
            flex-direction: column;
        }

        textarea#editor {
            width: 100%;
            flex: 1;
            padding: 0; /* Loại bỏ padding mặc định */
            margin: 0; /* Loại bỏ margin mặc định */
        }

        .course__description,
        .col {
            padding: 20px;
            overflow: auto;
            box-sizing: border-box;
            box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .2);
        }

        .course__description {
            background-color: #fcfcfc;
            border-radius: 10px;
            margin-bottom: 60px;
        }

        .col {
            background-color: #fcfcfc;
            border-radius: 10px;

        }

        .d-flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    </style>
</head>
<body>
<div layout:fragment="content">
    <!-- page title area start -->
    <section class="page__title-area pt-120 pb-90">
        <div class="container">
            <div class="row">
                <div>
                    <div class="course__wrapper">
                        <div class="course__tab-content mb-95">
                            <input type="hidden" id="number_of_assignments"
                                   th:value="${contest.numberOfAssignment}">
                            <input type="hidden" id="contest_id" th:value="${contest.getId()}">
                            <input type="hidden" id="idAssignments" th:value="${idAssignments}">

                            <div class="tab-content" id="courseTabContent">
                                <div class="tab-pane fade show active" id="description" role="tabpanel"
                                     aria-labelledby="description-tab">
                                    <div id="description_container" class="course__description">
                                        <h3 style="text-align: center" th:text="'Bài Thi '+ ${contest.contestName}">
                                        </h3>
                                        <br>
                                        <div style="text-align: center">
                                            <p th:text="'Số câu bài tập: '+ ${contest.numberOfAssignment}"></p>

                                        </div>
                                        <p class="mt-20"><span class="text-danger">Lưu ý(*)</span></p>
                                        <p class="mt-20"><span class="text-danger">*</span> Bài thi sẽ đóng khi hết thời
                                            gian. Trong trường hợp đó bạn sẽ bị xem như là thất bại. Vì thế vui lòng nộp
                                            bài trước khi hết thời gian quy định.</p>
                                        <p class="mt-20"><span class="text-danger">*</span> Trong trường hợp bạn trả lời
                                            đúng các câu hỏi trong thời gian quy định, chứng chỉ sẽ được cấp ngay khi
                                            bạn hoàn thành bài thi. Ngược lại bạn sẽ phải đợi 30 ngày nữa để làm lại bài
                                            kiểm tra này.</p>
                                    </div>

                                </div>

                                <th:block th:each="assignment : ${assignments}">
                                    <div class="tab-pane fade" th:id="${'challenge'+assignment.id}" role="tabpanel"
                                         aria-labelledby="curriculum-tab">
                                        <div class="course__description">
                                            <h3>Mô tả yêu cầu</h3>
                                            <p th:utext="${assignment.description}"></p>
                                        </div>
                                    </div>
                                </th:block>
                                <div class="course__tab-2 mb-45">
                                    <div style="display: none">
                                        <input type="hidden" id="hidden_input" name="current_assignment">
                                    </div>
                                    <ul class="nav nav-tabs" id="courseTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active"
                                                    id="description-tab" data-bs-toggle="tab" name="quiztab"
                                                    data-bs-target="#description" type="button" role="tab"
                                                    aria-controls="description" aria-selected="true"><i
                                                    class="icon_ribbon_alt"></i> <span>Hướng dẫn</span></button>
                                        </li>
                                        <li class="nav-item" role="presentation"
                                            th:each="assignment, itrStat  : ${assignments}">
                                            <button class="nav-link " th:id="${assignment.id}"
                                                    data-bs-toggle="tab"
                                                    th:data-bs-target="${'#challenge'+assignment.id}" type="button"
                                                    role="tab"
                                                    aria-controls="curriculum" aria-selected="false"><i
                                                    class="icon_book_alt"></i> <span
                                                    th:text="'Chanllenge 0'+${itrStat.index+1}"></span></button>
                                        </li>
                                    </ul>
                                </div>

                                <div id="editor-div" class="col">
                                    <div style="background-color: #f3f7f7"
                                         class="d-flex justify-content-between mb-2 rounded p-2">
                                        <div>

                                            <select style="cursor: pointer;" class="form-select"
                                                    id="inlineFormSelectPref">
                                                <option th:each="language :${languages}" th:text="${language.name}"
                                                        th:value="${language.value}">
                                                </option>
                                            </select>

                                        </div>
                                        <div>
                                            <!-- <label style="color: #fff;" for="theme">Theme</label> -->
                                            <select style="cursor: pointer; width: 120%;" class="form-select"
                                                    id="theme">
                                                <option selected value="Dark">Dracula</option>
                                                <option value="Light">Light</option>
                                                <option value="Night">Night</option>
                                                <option value="Idea">Idea</option>
                                                <option value="Ocenaic">Ocenaic</option>

                                            </select>
                                        </div>
                                        <button style="cursor: pointer;background-color: #00751f" type="button"
                                                id="submit" class="btn btn-success">Nộp bài<i style="font-size: 17px;"
                                                                                             class="fa fa-send"></i>
                                        </button>
                                    </div>
                                    <div style="border-color: #eee; border-style: solid; border-width: 5px;">
                                                <textarea type="text" id="editor" class="form-control"
                                                          aria-label="First name"></textarea>
                                    </div>
                                </div>

                                <section id="excuting" style="display: none"
                                         class="events__area pt-115 pb-120 p-relative">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xxl-4 offset-xxl-4">
                                                <div class="section__title-wrapper mb-60 text-center">
                                                    <h2 class="section__title" id="loadingText">
                                                                <span style="color: #002795"
                                                                      class="yellow-bg yellow-bg-big"> Đang chấm điểm...</span>
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <!-- events area start -->
                                <section id="result" style="display: none"
                                         class="events__area pt-115 pb-120 p-relative">
                                    <div class="events__shape">
                                        <img class="events-1-shape" alt="">
                                    </div>
                                    <div class="container">
                                        <div class="row" id="test-cases-container">
                                        </div>
                                    </div>
                                </section>
                                <!-- events area end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page title area end -->

    <script type="text/javascript" th:src="@{/client_assets/compiler/jquery-172.js}"></script>
    <script th:src="@{/client_assets/codemirror-5.65.15/lib/codemirror.js}"></script>
    <script th:src="@{/client_assets/codemirror-5.65.15/mode/clike/clike.js}"></script>
    <script th:src="@{/client_assets/codemirror-5.65.15/addon/edit/closebrackets.js}"></script>
    <script th:src="@{/client_assets/codemirror-5.65.15/mode/python/python.js}"></script>
    <script type="text/javascript" th:src="@{/client_assets/compiler/ddslick.js}"></script>
    <script th:inline="javascript">
        var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
            mode: "text/x-c++src",
            theme: "dracula",
            lineNumbers: true,
            autoCloseBrackets: true,
        })
        editor.setSize("initial", "")
        var option;
        var langague_name;
        $("#inlineFormSelectPref").ddslick({
            onSelected: function (selectedData) {
                if (selectedData.selectedData.value === "text/x-c++src") {
                    editor.setOption("mode", "text/x-c++src")
                    editor.setValue("#include<iostream>\n\nint main() {\n  std::cout << \"Hello world!\";\n\n  return 0;\n}")
                    option = 54;
                }
                if (selectedData.selectedData.value === "text/x-java") {
                    editor.setOption("mode", "text/x-java")
                    editor.setValue('import java.util.*;\nimport java.io.*;\n\npublic class Main {\n    public static void main(String[] args) {\n      System.out.println(\"Hello world!\");\n    }\n}')
                    option = 91;
                }
                if (selectedData.selectedData.value === "text/x-csharp") {
                    editor.setOption("mode", "text/x-csharp");
                    editor.setValue("using System;\n\nclass Program {\n   static void Main() {\n     Console.WriteLine(\"Hello world!\");\n   }\n}");
                    option = 51;

                }
                if (selectedData.selectedData.value === "text/x-python") {
                    editor.setOption("mode", "text/x-python")
                    editor.setValue("print('Hello world!')")
                    option = 71;
                }
                langague_name = selectedData.selectedData.value;

            }
        });
    </script>
    <script type="module" th:src="@{/client_assets/compiler/contest.js}"></script>
</div>
</body>
</html>