<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/home_layout}"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
   <meta charset="UTF-8">
   <title>Đăng Nhập</title>
</head>
<body>
<div layout:fragment="content">
      <!-- sign up area start -->
      <section class="signup__area po-rel-z1 pt-100 pb-145">
         <div class="sign__shape">
            <img class="man-1" src="client_assets/img/icon/sign/man-1.png" alt="">
            <img class="man-2" src="client_assets/img/icon/sign/man-2.png" alt="">
            <img class="circle" src="client_assets/img/icon/sign/circle.png" alt="">
            <img class="zigzag" src="client_assets/img/icon/sign/zigzag.png" alt="">
            <img class="dot" src="client_assets/img/icon/sign/dot.png" alt="">
            <img class="bg" src="client_assets/img/icon/sign/sign-up.png" alt="">
         </div>
         <div class="container">
            <div class="row">
               <div class="col-xxl-8 offset-xxl-2 col-xl-8 offset-xl-2">
                  <div class="section__title-wrapper text-center mb-55">
                     <h2 class="section__title">Đăng nhập vào <br>  Coder'sLab.</h2>
                     <p>Coder'slab là nền tảng đánh giá và phát triễn kỹ năng lập trình</a></p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                  <div class="sign__wrapper white-bg">
                     <div class="sign__header mb-35">
                        <div class="sign__in text-center">
                           <a href="#" class="sign__social text-start mb-15"><i class="fab fa-facebook-f"></i>Sign in with Facebook</a>
                           <p> <span>........</span> Or, <a href="sign-in.html">sign in</a> with your email<span> ........</span> </p>
                        </div>
                     </div>
                     <div class="sign__form">
                        <form th:action="@{/login}" method="post">
                           <div th:if="${param.error}" class="alert alert-error"
                                style="display: flex; justify-content: center; color: red;">
                              Sai tài khoản hoặc mật khẩu!
                           </div>
                           <div th:if="${param.logout}" class="alert alert-success"
                                style="display: flex; justify-content: center; color: white;background-color: #1ab06c">
                              Đăng xuất thành công.
                           </div>
                           <div th:if="${success}" th:text="${success}" class="alert alert-success"
                                style="display: flex; justify-content: center; color: white;background-color: #5275be">
                           </div>
                           <div th:if="${error}" th:utext="${error}" class="alert alert-danger"
                           >
                           </div>
                           <div class="sign__input-wrapper mb-25">
                              <h5>Email</h5>
                              <div class="sign__input">
                                 <input type="text" name="username" required placeholder="Nhập địa chỉ email">
                                 <i class="fal fa-envelope"></i>
                              </div>
                           </div>
                           <div class="sign__input-wrapper mb-10">
                              <h5>Mật khẩu</h5>
                              <div class="sign__input">
                                 <input type="password" name="password" required minlength="6" maxlength="20" placeholder="Password">
                                 <i class="fal fa-lock"></i>
                              </div>
                           </div>
                           <div class="sign__action d-sm-flex justify-content-between mb-30">
                              <div class="sign__agree d-flex align-items-center">
                                 <input class="m-check-input" type="checkbox" name="remember-me" id="m-agree">
                                 <label class="m-check-label" for="m-agree">Lưu tài khoản
                                 </label>
                              </div>
                              <div class="sign__forgot">
                                 <a href="#">Quên mật khẩu?</a>
                              </div>
                           </div>
                           <button class="e-btn  w-100"> <span></span> Đăng nhập</button>
                           <div class="sign__new text-center mt-20">
                              <p>New to Coder'sLab? <a href="/register-access-account">Đăng ký</a></p>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- sign up area end -->

</div>
</body>
</html>