<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/home_layout}"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
   <meta charset="UTF-8">
   <title>Đăng Ký</title>
</head>
<body>
<div layout:fragment="content">

   <!-- sign up area start -->
   <section class="signup__area po-rel-z1 pt-100 pb-145">
      <div class="sign__shape">
         <img class="man-1" th:src="@{/client_assets/img/icon/sign/man-3.png}" alt="">
         <img class="man-2 man-22" th:src="@{/client_assets/img/icon/sign/man-2.png}" alt="">
         <img class="circle" th:src="@{/client_assets/img/icon/sign/circle.png}" alt="">
         <img class="zigzag" th:src="@{/client_assets/img/icon/sign/zigzag.png}" alt="">
         <img class="dot" th:src="@{/client_assets/img/icon/sign/dot.png}" alt="">
         <img class="bg" th:src="@{/client_assets/img/icon/sign/sign-up.png}" alt="">
         <img class="flower" th:src="@{/client_assets/img/icon/sign/flower.png}" alt="">
      </div>
      <div class="container">
         <div class="row">
            <div class="col-xxl-8 offset-xxl-2 col-xl-8 offset-xl-2">
               <div class="section__title-wrapper text-center mb-55">
                  <h2 class="section__title">Tạo tài khoản miễn phí tại <br> Coder'lab</h2>
                  <p>Coder'slab là nền tảng đánh giá và phát triễn kỹ năng lập trình</p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
               <div class="sign__wrapper white-bg">
                  <div class="sign__header mb-35">
                     <div class="sign__in text-center">
                        <a href="#" class="sign__social g-plus text-start mb-15"><i class="fab fa-google-plus-g"></i>Sign Up with Google</a>
                        <p> <span>........</span> Or, <a href="sign-up.html">sign up</a> with your email<span> ........</span> </p>
                     </div>
                  </div>
                  <div class="sign__form">
                     <form th:action="@{/register/process_register}" th:object="${registrationRequest}" method="post">
                      <input type="hidden" name="role" th:field="*{role}">
                        <div th:if="${errorMessage}" class="alert alert-danger">
                           <p th:text="${errorMessage}"></p>
                        </div>
                        <div th:if="${successMessage}" class="alert alert-success" style="display: flex; justify-content: center; background-color: #00ad5c">
                           <p style="color: white;" th:text="${successMessage}"></p>
                        </div>
                        <div class="sign__input-wrapper mb-25">
                           <h5>Họ tên</h5>
                           <div class="sign__input">
                              <input placeholder="Full name" type="text" id="fullName" class="form-control" required name="fullName"
                                     th:classappend="${#fields.hasErrors('fullName')} ? 'is-invalid' : ''"
                                     th:field="*{fullName}">
                              <div class="invalid-feedback" th:errors="*{fullName}"></div>
                              <i class="fal fa-user"></i>
                           </div>
                        </div>
                        <div class="sign__input-wrapper mb-25">
                           <h5>Work email</h5>
                           <div class="sign__input">
                              <input placeholder="Email" type="email" id="email-id-column" required class="form-control" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''" th:field="*{email}">
                              <div class="invalid-feedback" th:errors="*{email}"></div>
                              <i class="fal fa-envelope"></i>
                           </div>
                        </div>
                        <div class="sign__input-wrapper mb-25">
                           <h5>Password</h5>
                           <div class="sign__input">
                              <input placeholder="Password" type="password" id="password-column" required minlength="6" maxlength="20" class="form-control" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''" th:field="*{password}">
                              <div class="invalid-feedback" th:errors="*{password}"></div>
                              <i class="fal fa-lock"></i>
                           </div>
                        </div>
                       <!-- <div class="sign__input-wrapper mb-10">
                           <h5>Re-Password</h5>
                           <div class="sign__input">
                              <input type="text" placeholder="Re-Password">
                              <i class="fal fa-lock"></i>
                           </div>
                        </div>-->
            <!--            <div class="sign__action d-flex justify-content-between mb-30">
                           <div class="sign__agree d-flex align-items-center">
                              <input class="m-check-input" type="checkbox" id="m-agree">
                              <label class="m-check-label" for="m-agree">I agree to the <a href="#">Terms & Conditions</a>
                              </label>
                           </div>
                        </div>-->
                        <button class="e-btn w-100"> <span></span> Đăng ký</button>
                        <div class="sign__new text-center mt-20">
                           <p>Already in Markit ? <a href="sign-in.html"> Sign In</a></p>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- sign up area end -->

</div>
</body>
</html>