<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/home_layout}"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
   <meta charset="UTF-8">
   <title>Coder'sLab</title>
</head>
<body>
<div layout:fragment="content">

      <!-- page title area start -->
      <section class="page__title-area pt-120 pb-90">
         <div class="page__title-shape">
            <img class="page-title-shape-5 d-none d-sm-block" th:src="@{client_assets/img/page-title/page-title-shape-1.png}" alt="">
            <img class="page-title-shape-6" th:src="@{client_assets/img/page-title/page-title-shape-6.png}" alt="">
            <img class="page-title-shape-7" th:src="@{client_assets/img/page-title/page-title-shape-4.png}" alt="">
         </div>
         <div class="container">
            <div class="row">
               <div class="col-xxl-8 col-xl-8 col-lg-8">
                  <div class="course__wrapper">
                     <div class="page__title-content mb-25">
                        <div class="page__title-breadcrumb">
                           <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                 <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                 <li class="breadcrumb-item"><a href="course-grid.html">Courses</a></li>
                                 <li class="breadcrumb-item active" aria-current="page">The business Intelligence analyst Course 2022</li>
                              </ol>
                           </nav>
                        </div>
                        <h5 class="page__title-3" th:text="${assignment_kit.title}">The business Intelligence analyst Course 2022</h5>
                     </div>
                     <div class="course__meta-2 d-sm-flex mb-30">
                        <div class="course__teacher-3 d-flex align-items-center mr-70">
                           <div class="course__teacher-info-3">
                              <p><a href="#">Take the HackerRank Certification Test and showcase your knowledge as a HackerRank verified developer.</a></p>
                           </div>
                        </div>

                     </div>
                     <div class="course__img w-img mb-30">
                        <img th:src="@{client_assets/img/course/details/course-details-1.jpg}" alt="">
                     </div>
                     <div class="course__tab-content mb-95">
                        <div class="tab-content" id="courseTabContent">
                           <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                              <div class="course__description-list mb-45">
                                 <h4>Skill over pedigree</h4>
                                 <ul>
                                    <li> <i class="icon_check"></i> Prove your Skills</li>
                                    <li> <i class="icon_check"></i> Get noticed by companies</li>
                                    <li> <i class="icon_check"></i> Anyone who is finding a chance to get the promotion</li>
                                 </ul>
                              </div>
                              <div class="course__description">
                                 <h3>Overview</h3>
                                 <p th:utext="${assignment_kit.description}"></p>

                                 <div class="course__tag-2 mb-35 mt-35">
                                    <i class="fal fa-tag"></i>
                                    <a href="#">Big data,</a>
                                    <a href="#">Data analysis,</a>
                                    <a href="#">Data modeling</a>
                                 </div>

                              </div>
                           </div>
                         </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-4 col-lg-4">
                  <div class="course__sidebar pl-70 p-relative">
                     <div class="course__shape">
                        <img class="course-dot" src="assets/img/course/course-dot.png" alt="">
                     </div>
                     <div class="course__sidebar-widget-2 white-bg mb-20">
                        <div class="course__video">
                           <div class="course__video-content mb-35">
                              <ul>
                                 <li class="d-flex align-items-center">
                                    <div class="course__video-icon">
                                       <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve">
                                             <path class="st0" d="M2,6l6-4.7L14,6v7.3c0,0.7-0.6,1.3-1.3,1.3H3.3c-0.7,0-1.3-0.6-1.3-1.3V6z"/>
                                          <polyline class="st0" points="6,14.7 6,8 10,8 10,14.7 "/>
                                          </svg>
                                    </div>
                                    <div class="course__video-info">
                                       <h5><span>Instructor :</span> Eleanor Fant</h5>
                                    </div>
                                 </li>
                                 <li class="d-flex align-items-center">
                                    <div class="course__video-icon">
                                       <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">

                                             <path class="st0" d="M4,19.5C4,18.1,5.1,17,6.5,17H20"/>
                                          <path class="st0" d="M6.5,2H20v20H6.5C5.1,22,4,20.9,4,19.5v-15C4,3.1,5.1,2,6.5,2z"/>
                                          </svg>
                                    </div>
                                    <div class="course__video-info">
                                       <h5><span>Lectures :</span>14</h5>
                                    </div>
                                 </li>
                                 <li class="d-flex align-items-center">
                                    <div class="course__video-icon">
                                       <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve">
                                             <circle class="st0" cx="8" cy="8" r="6.7"/>
                                          <polyline class="st0" points="8,4 8,8 10.7,9.3 "/>
                                          </svg>
                                    </div>
                                    <div class="course__video-info">
                                       <h5><span>Duration :</span>6 weeks</h5>
                                    </div>
                                 </li>
                                 <li class="d-flex align-items-center">
                                    <div class="course__video-icon">
                                       <svg>
                                          <path class="st0" d="M13.3,14v-1.3c0-1.5-1.2-2.7-2.7-2.7H5.3c-1.5,0-2.7,1.2-2.7,2.7V14"/>
                                          <circle class="st0" cx="8" cy="4.7" r="2.7"/>
                                       </svg>
                                    </div>
                                    <div class="course__video-info">
                                       <h5><span>Enrolled :</span>20 students</h5>
                                    </div>
                                 </li>
                                 <li class="d-flex align-items-center">
                                    <div class="course__video-icon">
                                       <svg>
                                          <circle class="st0" cx="8" cy="8" r="6.7"/>
                                          <line class="st0" x1="1.3" y1="8" x2="14.7" y2="8"/>
                                          <path class="st0" d="M8,1.3c1.7,1.8,2.6,4.2,2.7,6.7c-0.1,2.5-1,4.8-2.7,6.7C6.3,12.8,5.4,10.5,5.3,8C5.4,5.5,6.3,3.2,8,1.3z"/>
                                       </svg>
                                    </div>
                                    <div class="course__video-info">
                                       <h5><span>Language :</span>Optional</h5>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                           <div class="course__enroll-btn">
                              <a href="contact.html" class="e-btn e-btn-7 w-100">Take the test <i class="far fa-arrow-right"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- page title area end -->

</div>
</body>
</html>