<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating coding question</title>
    <link rel="stylesheet" href="/admin_assets/css/multi-step-form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">-->
    <!--summernote-->
    <link th:href="@{/admin_assets/vendor/summernote/summernote-bs4.css}" rel="stylesheet">
    <style>
        .modal-backdrop {
            position: unset !important;
        }
        .modal {
            background: rgba(0, 0, 0, 0.4);
        }
        .has-error, .help-block {
            color: #a94442;
            font-weight: 600;
        }
        .has-error{
            border: 1px solid #a94442 !important;
        }
    </style>
</head>
<body>
<div layout:fragment="content">


    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <p style="font-size: 23px; font-weight: bold" class="mb-sm-0 font-size-18">Creating Coding Question Kit</p>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a th:href="@{/templates/admin/assignment}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Creating coding question kit</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div style="background-color: #fff" class="card2">
                <div class="row">
                    <div class="col-md-12 mx-0">
                        <form id="msform" th:action="@{/admin/assignment-kit/add}" method="post">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="account"><strong>Kit details</strong></li>
                                <li id="personal"><strong>Add Assignments</strong></li></ul>
                            <!--problem details -->
                            <fieldset>
                                <div class="form-card">
                                    <p style="font-weight: 600; color:#2f3c4b;; margin-bottom: 2px" >Title name: <span class="text-danger">*</span></p>
                                    <div style="margin-bottom: 25px">
                                        <input required class="form-validate" name="title" id="title" style="font-family: 'Montserrat'; margin-bottom: unset" type="text" placeholder="Sample question name"/>
                                    </div>
                                    <p style="font-weight: 600; color:#2f3c4b;; margin-bottom: 2px" >Time/mins: <span class="text-danger">*</span></p>
                                    <div style="margin-bottom: 25px">
                                        <input required class="form-validate" name="time" id="time" style="font-family: 'Montserrat'; margin-bottom: unset" type="number" min="15" placeholder="Time to take this contest/mins"/>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="card card-shadow mb-4">
                                                <div class="card-header border-0">
                                                    <div class="custom-title-wrap bar-primary">
                                                        <div class="custom-title">Kit Description: <span class="text-danger">*</span></div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                        <div id="summernote"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input style="border-radius: 5px" id="step-one" type="button" name="next" class="next action-button" value="Next Step"/>
                            </fieldset>
<!--                            tescases-->
                            <fieldset>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card card-shadow mb-4">
                                            <div class="card-header border-0">
                                                <div class="custom-title-wrap bar-primary">
                                                    <div class="custom-title">Multiple Select</div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <form class="picker-form">
                                                    <div class="form-group row mb-5">
                                                        <div class="col-lg-8 col-md-9 col-sm-12">
                                                            <select name="multi_coding_select[]" class="multi-select" multiple="" id="my_multi_select3" >
                                                                <option value=""></option>
                                                                <option th:each="assignment : ${assignments}" th:value="${assignment.id}" th:text="${assignment.title}"></option>
                                                                <option value="3">Zimbabwe</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input style="border-radius: 5px" type="button" name="previous" class="previous action-button-previous"
                                       value="Previous"/>
                                <input style="border-radius: 5px" type="submit" name="next" class="next action-button" value="Save"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>-->
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script th:src="@{/admin_assets/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/admin_assets/js/multi-kit-step-form.js}"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            document.getElementById('msform').addEventListener('submit', function (e) {
                e.preventDefault();
                var form = $('#msform');
                if (form.valid() === true) {
                    var description = $('#summernote').summernote('code');
                    $('<input />').attr('type', 'hidden')
                        .attr('name', 'description')
                        .attr('value', description)
                        .appendTo('#msform');
                    this.submit();
                }
            });
        });
    </script>
</div>
</body>
</html>